@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kennis Motors Limited</h1>
    <p> Kennis Motors deals on all brand of sport cars and SUV. We also offer automotive repair and maintenance services.</p>
</div>